/* font size */
.fs_05{
    font-size: 0.5rem;
}
.fs_07{
    font-size: 0.7rem;
}
.fs_08{
    font-size: 0.8rem;
}
.fs_1{
    font-size: 1rem;
}
.fs_14{
    font-size: 1.4rem;
}

.bold{
    font-weight: 600;
}