a{
    transition: all 0.6s;
}
a:hover{
    color: #D2D2D2 !important;
    text-decoration: none;
}

.song:hover .play_hover{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 4.5rem;
    background-color: rgba(0,0,0,0.3);
}
.song:hover .play_hover:hover>i{
  color: #f1f1f1;
}

.upgrade_link:hover{
    font-size: 0.9rem;
    color: white;
}

.play_icon{
    transition: all 0.2s;
}
.play_icon:hover{
    font-size: 1.8rem;
    margin:0 -3px
}
